@media screen and (min-width:992px) and (max-width:1439.98px) {
    .container{
        padding: 0 100px;
    }
}

@media screen and (min-width:576px) and (max-width:991.98px) {
    .container{
        padding: 0 50px;
    }
    #features,
    .menubar{
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
    .logo h2{
        font-size: 2rem;
    }
    .menubar .main_menu ul{
        display: flex;
        gap: 15px;
    }
    .banner_text{
        margin: 50px auto 30px auto;
    }
    .banner_text h1,
    .banner_text h1 span{
        font-size: 3.5rem;
    }
    #features{
        padding: 50px 0;
    }
    .feature_img img{
        width: 100%;
    }
}

@media screen and (max-width:575.98px) {
    .container{
        padding: 0 20px;
    }
    .menubar,
    .main_menu ul{
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
    .logo h2{
        font-size: 1.8rem;
    }
    .menubar .main_menu ul{
        display: flex;
        gap: 15px;
    }
    .banner_text{
        margin: 50px auto 30px auto;
    }
    .banner_text h1,
    .banner_text h1 span{
        font-size: 3rem;
    }
    #features{
        padding: 50px 0;
        flex-direction: column-reverse;
        text-align: center;
    }
    .feature_img{
        grid-template-columns: repeat(1, 1fr);
    }
    .feature_img img{
        width: 100%;
    }
}